In [ ]:
1.	In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Expression = * , - , /, +  	
Values = 'hello' , -87.8, 6

2. What is the difference between string and variable?
Sol:  String: String is the data type of the programming language which are made up of ordered sequence of Characters.

Anything that is enclosed in the double or single quotes are the strings. 
Not only the alphabets, but the Numerals can also be converted into strings by enclosing them into the quotes .(“….”)
Ex : “Hello World”, “Dance”, “98”

Variables: Variables are defined as the place which is used to store  the values. 
Ex:  a=10 ; b=20 . Here, a and b are variables which are used to store the values i.e. 10 and 20 respectively.

3. Describe three different data types.
 
 Sol : In python we have data that is in the form of different types:
1.	**Numeric and Characters:** Data expressed in the form of numerals and aplphabets. 
Ex: Integer, Floats, Complex, String.
2.**	Sequence **: Data expressed in the form of series. 
Ex: List, Tuple, Set
3.**	Map **: Data Expressed with key and Value Pair. 
Example: Dictionary

4.	What is an expression made up of? What do all expressions do?
Sol : An expression is made up of operators and operands. 
Example:    2 + 6 = 8
**Operators** : + and =
**Operands **: 2, 6 and 8

5.	This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Sol: Expression yields the result. While the statement represents an action or command.

Expression consists of operators and operands.Ex: 2+6=8

Statements does something. Ex:print(“….”) statement

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [4]:
bacon = 22

In [6]:
 bacon + 1

23

In [5]:
bacon

22

7. What should the values of the following two terms be?

1. 'spam' + 'spamspam'
2. 'spam' * 3

Sol:  1. ‘spamspamspam’
2. ‘spamspamspam’

8. Why is eggs a valid variable name while 100 is invalid?

Sol: The name of the variable can only start with alphabets but not with numbers and special characters. 

Hence eggs can be a valid variable while 100 is not.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Sol : Functions used to get:
Interger :int()
Floating – point Number :   float()
String : str()

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Sol: This expression contains an error because we can add two different Data Types.
Here, in this expression ; we are adding str and int. which is not possible.

In [7]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

Process to fix:  Converting int() into the str()

In [9]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'