In [ ]:
1. What are the two values of the Boolean data type? How do you write them.

Answer: The value of two Boolean data type is:
True and False.
Here True = 1
and False = 0
Boolean expression use both Relational and Logical Operators and yeilds the answer in True and False.

2. What are the three different type of Boolean operators?

Answer: The three Boolean operators are :
1. AND = When both the values are non-zero, yeilds True otherwise False.
2. OR = When any of the value or both is non-zero, yeilds True otherwise False.
3. NOT = It returns the value TRUE or 1 when operand is False or 0 and vice - versa.

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

![Q3.PNG]()

4. What are the values of the following expressions?
(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [1]:
(5 > 4) and (3 == 5)

False

In [3]:
not (5 > 4)

False

In [4]:
(5 > 4) or (3 == 5)

True

In [5]:
not ((5 > 4) or (3 == 5))

False

In [6]:
(True and True) and (True == False)

False

In [8]:
(not False) or (not True)

True

5. What are the six comparison operators?

1. == : equal : x==y

In [12]:
2==3

False

2.  !=  : Not equal to   : x !=y

In [13]:
2!=3

True

3. < : Less than : x<y

In [14]:
 2<3

True

4.  > : Greater than : x > y

In [15]:
4>3

True

5.  <= : Less than or equal to : x<=y

In [16]:
 4<=8

True

6. >= : Greater than or equal to : x>=y

In [17]:
5>=2

True

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

Answer : Assignment operators are used to assign the values to the variable.

In [ ]:
x = 8
y = 9
# In the above example we assigned the value 8 and 9 to x and y respectively.

while in equal to operator we compare the value of two different entities.

In [20]:
x = 8
y = 9
x==y
# Here we are just comparing the values and the values are already assigned to us.

False

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

In [21]:
spam = 0
if spam == 10:
  print('eggs')
if spam > 5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [26]:
spam = int(input("ENTER THE NUMBER"))
if spam == 1:
  print("Hello")
elif spam == 2 :
  print("Howdy")
else: 
  print("Greetings!")

ENTER THE NUMBER0
Greetings!

9. If your programme is stuck in an endless loop, what keys youâ€™ll press?
Answer : Ctrl + C

10. How can you tell the difference between break and continue?

Answer : Break statement is used to break the loop from further execution after achieving the desired result. 
Continue Statement is used to skip that particular iteration in the loop and returns all the other values.

In [25]:
11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Answer : Range is an in-bulit function which can be written as :
1. range(stop) = range(10)
2. range(start , stop) = range(0, 10)
3. range(start, stop, step size) = range(0, 10, 1)
In range(10) or range (stop), only the last stop value is given which is stop - 1 whereas the iterations will start from 0 by default beacuse we are not declaring the start value. 

In range(0, 10) or range( start, stop), both start as well as stop is given. In range( start, stop), it is not mandatory to always start the iterations from 0 as we can choose our start value by our choice which is not applicable in first case. 

In range(0, 10, 1), here along with the start and stop, the step size is also given. Which is not mentioned in the earlier ones. By default we assume the step size to be 1. But in this case step size can be altered.

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [32]:
for i in range(0,11,1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [33]:
i=0
while i<=10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Answer : from spam import bacon
 x = bacon()