Q1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [3]:
guess_me= 7
n = int(input("Enter the guess value"))
if n>guess_me:
  print("Too high")
elif n<guess_me:
  print("Too Low")
else:
  print("Just Right")

Enter the guess value7
Just Right

Q2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [9]:
guess_me = 7
start = 1
while guess_me>= start:
  print("Too low")
  if guess_me==start:
    print("Found it")
    break
  elif guess_me<start:
    print("oops")
    break

  start+=1

Too low
Too low
Too low
Too low
Too low
Too low
Too low
Found it

Q3. Print the following values of the list [3, 2, 1, 0] using a for loop.

In [10]:
l=[3,2,1,0]
for i in l:
  print(i)

3
2
1
0

Q4. Use a list comprehension to make a list of the even numbers in range(10)

In [12]:
x=[i for i in range(10) if i%2==0]

In [13]:
x

[0, 2, 4, 6, 8]

Q5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [13]:
 a = range(10)
 b=[]
 for i in a:
   b.append(i**2)
my_dict = {a:b for (a,b) in zip(a,b)}
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Q6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [18]:
my_set= {i for i in range(10) if i%2!=0}

In [19]:
my_set

{1, 3, 5, 7, 9}

Q7. Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [22]:
my_gen = ("Got"+ str(i) for i in range(10))
for i in my_gen:
  print(i)

Got0
Got1
Got2
Got3
Got4
Got5
Got6
Got7
Got8
Got9

Q8. 8. Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [36]:
def good(m):
  l=[]
  for i in m:
    return l.append(i)
m = ["Harry", "Ron", "Hermoine"]
l = good(m)

Q9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [38]:
def get_odds(n):
  for i in range(10):
    if i%2 !=0:
      yield i

In [40]:
for i in get_odds(n):
  print(i)

1
3
5
7
9

Q10. Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

In [46]:
# Answer: An exception in an event, which occurs during the execution of the program and that interupts the normal flow of the instruction.
try:
  def OopsException():
    print("Good")

except OopsException as e: 
  print(e, "Caught an Oops")

Q11. Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

In [48]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
a = dict(zip(titles , plots))

In [49]:
a

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}