1. write a python program to find factorial of a number

In [ ]:
n = int(input("Enter the value"))
fact=1
for i in range(1,n+1):
  fact = fact*i
print(fact)

Enter the value5
120

2. Write a Python program tp Display the multiplication Table?

In [ ]:
n = int(input("Enter the value"))
for i in range(1,11):
  fact = n*i
  print( n, "*", i ,"=" ,fact )

Enter the value4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Q3. Write a Python program to print Fibonnaci Sequences.

In [ ]:
def fib(n):
  a=0
  b=1
  print(a)
  print(b)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)
    
fib(10)

0
1
1
2
3
5
8
13
21
34

4. Write a program to check Armstrong Number.

In [ ]:
num=int(input("Enter the number"))
sum=0
x=num
while x>0:
  digit=x%10
  sum+=digit**3
  x//=10
  if sum==num:
    print(num, "Number is Armstrong")
  else:
    print(num, "Number is not Armstrong")

Enter the number12
12 Number is not Armstrong
12 Number is not Armstrong

5. Write a Python program to find Armstrong Number in an interval.

In [ ]:
x=int(input("Enter the lower range"))
y=int(input("Enter the upper range"))
for i in (x,y+1):
  order=len(str(i))
  sum=0
  a=i
  while i>0:
    digit=a%10
    sum+=digit**order
    x//=10
  if i==sum:
    print(i)

6. Write a Python program to find the sum of Natural numbers?

In [ ]:
n = int(input("Enter the value of last number"))
if n >0:
  S = 0
  while (n>0):
    S+=n
    n-=1
print(S)

Enter the value of last number16
136